mixin header()
  <!DOCTYPE html>
  html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="assets/css/index.css")
    title Document
  body
    header
      .wrapper
        .header_phone
          .header_phone-tel +7 423 273-26-80
          a(href="#").header_phone-button_small обратный звонок
        .header_address
          .header_address-street Россия, Владивосток, ул. Проходная 4-я, 14
          .header_address-time режим работы: 09:00 - 18:30
          a(href="#").header_address-mail info@logisticforce.ru
        .header_logo
        .header_buttons
          a(href="#").header_buttons-button_enter Войти в личный кабинет
          a(href="#").header_buttons-button_reg Регистрация для новых клиентов
        .header_langs
          .header_lang.header_lang__active 
            img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAABCElEQVQ4T6WUsU7DMBRF743VknxAxYBEqnZlTNWNgYG/4yNAihADC7/RH0CiVV2pA+1WmsiJim2UoFCTAdT4LZat986779oy1W73aERwA+CA06NPY1fM82wLcHB6/bGCefYhQRF7QbL9fgUGl14Qa5Q/5OHldWk0hgBMBzUBCBBX9xKljkF2YKAigFGSSuULCZNUFr6QsySVpS8E02d/T+4ubhem/ByB1B2cFQAsNz1Ie8CvF2u/Ta+jWqu9G+0zvoWRNIWK/7vgBtTkHRsRXETh0qhi2NDbSW5xU+gqrdXOyXdr7fmfcp2RXMU/DdaTyVMxm11DiPo/ced11bV9qXKt1v3eaLz+AqJaZ8iU0lbwAAAAAElFTkSuQmCC", alt="")
            .header_lang-text РУС
          .header_lang
            img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAACD0lEQVQ4T3WUT2sTQRiHn5nNbpL6D1rrQREVrC0NgV6UnryI4Efwe+jBi3hQj/olPPkF/ABSFHMVhFAQojRowZXQNmlmd3ZkZnZ2kybuZSa7M8/7e3/v+0YMH3U/qv7XLdGOTzGAAGFwW7tnajdAUq5hEWCmupF0dj6LwQbGhMuAKUBIMBrQsHLf3xr3gOIMyP7MScVgO9EmU1JEYGHmBGTbQ4yCtSd+n74BEYNo20g1zAgOPCRX0l4uFJx/CJM9MBmICyBaIBsgL0Ge+iDIGiIEQzHYSnRxqmRyA1p34eJjOP4Aky+g9qH4C8l1uPwKRu9gvAdyxat2tjnIdqL1SMnmJqy/hPgeFH04fAGTHsgmyATim5D/Aj0Cl3rpOw7SSbQ5UdLksPYMWrug9+H389JIW60WtHdBfYP8sIbUSjqJLsZKRucgvgXZT4ivQTaE4giKPxBdhfXXcPS+TsdKcWpCOtZY2xL62JfXltJWyD5x1x0k+wFmDEUO9vB8OqHEobkszXIUCA2rT32l0rcgGj61ylR/xxvr+qSkV8WzoQw0rvhVp34NLWJjzaczAwkfgzCrwuflpyA8FWxWSTixAFkcmcqPBSVu8ILEZRHnu70+W/ZJbpSKZiFnx+x/cJeetLNzx0+xMza0ckmZmbMqchUgGJSRioMHm5+m3/u3o2YU/jmWzPvyVybTjeZGt/cPd4X2Fbc6rhEAAAAASUVORK5CYII=", alt="")
            .header_lang-text 漢語
            
