@font-face {
  font-family: 'Black Han Sans';
  src: url('BlackHanSans-Regular.woff2') format('woff2'),
      url('BlackHanSans-Regular.woff') format('woff'),
      url('BlackHanSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
