@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400&subset=cyrillic');

/*font-family: 'Montserrat', sans-serif;*/
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    background: url('img/header_bg.png') no-repeat;
    background-size: cover;
    min-height: 1000px;
}

.header_wrap {
    width: 1280px;
    margin: 0 auto;
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo {
    background: url('img/logo.png') no-repeat;
    width: 64px;
    height: 56px;
}

.logo_text {
    font-family: Raleway;
    color:  #ffffff;
    font-size: 34px;
    font-weight: 400;
    text-align: right;
    margin: 5px 0px 0 60px;
}

.header_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
    font-family: "Montserrat", sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
}

nav li:hover {
    color:  #c7b29a;
    cursor: pointer;
}

.nav_icons {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.nav_icon {
    color: #ffffff;
}

.nav_icon:hover {
    color:  #c7b29a;
    cursor: pointer;
}

.header_bot {
    text-align: center;
    display: flex;
    min-height: 260px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header_bot h2 {
    font-family: Raleway;
    color:  #ffffff;
    font-size: 36px;
    font-weight: 500;
    margin: 0;
}

.header_bot h1 {
    font-family: Raleway;
    color:  #ffffff;
    font-size: 52px;
    font-weight: 700;
    margin: 0;
}

.header_bot p {
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
}

.header_bot a {
    border-radius: 3px;
    background-color: #998675;
    width: 170px;
    height: 53px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Raleway;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    margin-top: 50px;
}

.header_footer {
    display: flex;
    justify-content: center;
}

.point {
    background-color:  #949496;
    width: 11px;
    height: 11px;
    border-radius: 11px;
    margin-left: 10px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color:  transparent;
}

.point:hover {
    background-color: transparent;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color:  #d3c1ad;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
}

.custom_wrap {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    height: 300px;
    align-items: center;
}

.custom_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    text-align: center;
}

.line {
    background-color:  #f1eee9;
    width: 70px;
    height: 3px;
}

.custom_block h3 {
    font-family: Raleway;
    color:  #555555;
    font-size: 22px;
    font-weight: 600;
}

.custom_block p {
    font-family: Montserrat;
    color:  #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.custom_block:hover .line {
    background-color:  #c7b299;
}

.custom_block:hover h3 {
    color:  #c7b299;
}

.custom_block:hover i {
    color:  #c7b299;
}

.ideas {
    background-color:  #fbfaf8;
    height: 700px;
}

.ideas_wrap {
    height: inherit;
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    background: url('img/browser-center.png') no-repeat, url('img/browser-left.png') no-repeat, url('img/browser-right.png') no-repeat;
    background-position: center bottom, left bottom, right bottom;
    background-size: 64%, 60%, 60%;
}

.ideas_wrap h2 {
    font-family: Raleway;
    color:  #555555;
    font-size: 30px;
    font-weight: 600;
    padding-top: 55px;
}

.ideas_wrap p {
    font-family: Montserrat;
    color:  #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}

.brown {
    background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    height: 150px;
}

.brown_wrap {
    width: 1280px;
    margin: 0 auto;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.brown_text h3 {
    font-family: Raleway;
    color:  #ffffff;
    font-size: 28px;
    font-weight: 400;
    text-align: left;
    margin: 0;
}

.brown_text span {
    font-family: Raleway;
    color:  #c7b299;
    font-size: 28px;
    font-weight: 400;
    text-align: left;
}

.brown_text p {
    font-family: Montserrat;
    color:  #615855;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    margin: 0;
}

.brown_button a {
    display: block;
    border-radius: 3px;
    background-color: #998675;
    width: 170px;
    height: 50px;
    text-decoration: none;
    font-family: Raleway;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
}

.brown_button a:hover {
    background-color: #edbd91;
}

.projects_wrap {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.projects_text h2 {
    font-family: Raleway;
    color:  #555555;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.projects_text p {
    font-family: Montserrat;
    color:  #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}

.select_box {
    border-radius: 3px;
    font-family: Montserrat;
    color:  #8c8c8c;
    border: 1px solid #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    text-align: center;
    padding: 5px 25px 5px 25px;
    float: left;
    margin-right: 10px;
}

.select_box:hover {
    background-color:  #998675;
    color:  #ffffff;
    cursor: pointer;
}

.image {
    width: 370px;
    height: 340px;
    background-color:  #fbfaf8;
    float: left;    
    margin: 28px;
}

.image img {
    transition-duration: 2s;
    transform: perspective(300px);
}

.image img:hover {
    transform: perspective(300px) rotateY(50deg);
}

.image h3 {
    font-family: Raleway;
    color:  #c7b29a;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    margin: 30px 0 0 30px;
}

.image p {
    font-family: Montserrat;
    color:  #d1d1d1;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    margin: 0px 0 0 30px;
}

.projects_button a {
    display: block;
    border-radius: 3px;
    background-color: #998675;
    width: 170px;
    height: 50px;
    text-decoration: none;
    font-family: Raleway;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.projects_button a:hover {
    background-color: #edbd91;
}

.video {
    background: url('img/video_bg.png') no-repeat;
    height: 700px;
}

.video_wrap {
    width: 1280px;
    margin: 0 auto;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video_icon {
    border-radius: 50%;
    background-color:  rgba(0, 0, 0, 0.2);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.video_wrap h2 {
    font-family: Raleway;
    color:  #ffffff;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.video_wrap p {
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    margin: 0;
}

.mobile_wrap {
    width: 1280px;
    margin: 0 auto;
    height: 700px;
    background: url('img/phone.png') no-repeat left bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile_wrap h2 {
    font-family: Raleway;
    color:  #555555;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
}

.mobile_wrap p {
    font-family: Montserrat;
    color:  #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    margin-left: 225px;
}

.mobile_wrap li {
    list-style-image: url(img/01.png);
    font-family: Montserrat;
    color:  #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    text-align: left;
    margin-left: 250px;
}

.brown2 {
    background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    height: 300px;
}

.brown2_wrap {
    width: 1280px;
    margin: 0 auto;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.number {
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 48px;
    font-weight: 200;
    line-height: 36px;
    text-align: center;
}

.count {
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.count p {
    font-family: Montserrat;
    color:  #c7b299;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.count_icon {
    color:  #c7b299;
}

.line_small {
    background-color:  #ffffff;
    width: 30px;
    height: 2px;
}

.posts_wrap {
    width: 1280px;
    height: 600px;
    margin: 0 auto;
}

.posts_wrap h2 {
    font-family: Raleway;
    color:  #555555;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.posts_wrap p {
    font-family: Montserrat;
    color:  #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}

.image_text {
    font-family: Montserrat;
    color:  #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    margin-left: 30px;
}

.image a {
    text-decoration: none;
    font-family: Montserrat;
    color: #c7b299;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
}


.labels {
    background: url('img/label.png') no-repeat;
    background-size: cover;
    height: 490px;
}

.labels_wrap {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: inherit;
}

.label img {
    transition-duration: 1s;
}

.label img:hover {
    transform: scale(1.5);
}

.about {
    background-color:  #191919;
    height: 508px;
}

.about_wrap {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: inherit;
    justify-content: space-between;
}

.about_log {
    width: 260px;
    height: 365px;
}

.about p {
    font-family: Montserrat;
    color:  #545454;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    margin: 0;
}

.logo_bot {
    background: url('img/logo.png') no-repeat;
    font-family: Raleway;
    color:  #ffffff;
    font-size: 34px;
    font-weight: 400;
    width: 64px;
    height: 56px;
    padding: 10px 0px 0px 65px;
}

.recent {
    width: 270px;
    height: 365px;
}

.recent h3 {
    font-family: Raleway;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.recent date {
    font-family: Montserrat;
    color:  #363636;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
}

.line_bot {
    background-color:  #252525;
    width: 270px;
    height: 2px;
    margin: 20px 0 20px 0;
}

.recent time {
    font-family: Montserrat;
    color:  #363636;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
}

.recent span {
    color:  #00bff3;
    cursor: pointer;
}

.widget_image {
    float: left;
    margin: 0px 5px 2px 0px;
}

.widget_image:nth-child(1n) {
    margin-left: 0px;
}

footer {
    background-color:  #111111;
    height: 111px;
}

.footer_wrap {
    width: 1280px;
    height: inherit;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_items {
    display: flex;
}

.footer_text {
    font-family: Montserrat;
    color:  #545454;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
}

.footer_text2 {
    font-family: Montserrat;
    color:  #545454;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
}

.h_line {
    width: 2px;
    height: 12px;
    background:  #242424;
    margin: 5px 10px 0px 10px;
}

.footer_wrap span {
    color:  #959595;
}

.footer_text:hover {
    color:  #c7b299;
}

.footer_text:first-child {
    color:  #545454;
}